
.burgerContainer {
	position: fixed;
	top: 0;
	right: 0;
	margin: 3%;
	margin-top: 5%;
	width: 40px;
	height: 40px;
	z-index: 50;
	cursor: pointer;
}

.menuButton {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 40px;
	height: 40px;
	transition: all 0.5s ease-in-out;
}

.menuBurger {
	width: 35px;
	height: 6px;
	background: $secondary;
	border-radius: 5px;
	transition: all 1s ease-in-out;
	opacity: 0.8;
}

.menuBurgerBefore {
	transform: translateY(-8px);
	width: 35px;
	height: 6px;
	background: $secondary;
	border-radius: 5px;
	transition: all 1s ease-in-out;
	opacity: 0.8;
}
.menuBurgerAfter {
	transform: translateY(8px);
	width: 35px;
	height: 6px;
	background: $secondary;
	border-radius: 5px;
	transition: all 1s ease-in-out;
	opacity: 0.8;
}


.burgerSwap {
	background: $primary;
}

.burgerBorder {
	background-color: $primary;
	
	a {
		color: $secondary;

		&:hover {
			color: darken($secondary, 20%);
		}
	}
}

/*  animation classes */

.open .menuBurger {
	background: transparent;
	transform: rotate(360deg);
}

.menuButton.open .menuBurgerBefore {
	transform: rotate(45deg);
}

.menuButton.open .menuBurgerAfter {
	transform: rotate(-45deg) translate(8px, -8px);
}
