html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

.mobileImage {
	display: none;
}


.wrapper {
	max-width: 1600px;
	margin: 0 auto;
	width: 100%;
}

// HEADER START
.header {
	display: flex;
	height: 100vh;
	min-height: 600px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $primary;
	position: relative;
}

// creating space between h1 and header content because h1 is absolute pos
.spacer {
	width: 100%;
	height: 100px;
}

.headerContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

h1 {
	color: $secondary;
	font-size: 5vw;
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 900;
	position: absolute;
	top: 0;
}

.imageAndP {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bio {
	width: 33vw;
	min-width: 420px;
	margin-left: 5%;
	color: $text;
	font-family: "IBM Plex Mono", sans-serif;
	font-weight: 400;
	line-height: 1.6;
	font-size: 1.8rem;

	.filmLink {
		text-decoration: none;

			color: rgb(0,173,239);

			&:hover {
				color: lighten(rgb(0,173,239), 33%);
			}
	}

	.musicLink {

		text-decoration: none;
		color: lightgreen;

			&:hover {
				color: lighten(green, 33%);
			}
	}

	.goodSci {
		text-decoration: none;

		color: yellow;

		&:hover {
			color: lighten(green, 33%);
		}

	}

}

.check {

	a {

		color: $secondary;
		font-weight: 600;
	}
}


.firstLetter {
	border-radius: 50%;
	margin-right: 3px;
	img {
		width: 20px;
		height: 20px;
		object-fit: cover;
		animation: sparkle 0.5s infinite alternate linear;
		animation-delay: 2s;
	}
}

// sentence that pops up with the photo slider
.alterEgo {
	display: none;
	color: $primaryLight;
}

// the circle
.circleContainer {
	position: relative;

	.fas {
		position: absolute;
		bottom: 52px;
		right: 30px;
		color: white;
		animation: upDown 1s infinite alternate ease;
	}
}

.circle {
	background: $secondary;
	border-bottom-left-radius: $size * 2;
	border-top-left-radius: $size * 2;
	height: $size * 2;
	width: $size;
	z-index: 10;
	position: relative;
	top: 70px;
}

.circleTwo {
	background: $secondary;
	border-bottom-right-radius: $size * 2;
	border-top-right-radius: $size * 2;
	height: $size * 2;
	width: $size;
	margin-left: 35px;
	position: relative;
	z-index: 10;
}

// spiral portal to sublimation
.portal {
	cursor: pointer;
	position: absolute;
	bottom: 9px;
	right: 17px;
	z-index: 4;

	img {
		width: 35px;
		height: 35px;
		animation: spin 5s infinite linear;
	}
}
// HEADER END

// PROJECT SECTION



.projects {
	height: 900px;
	background: $primary;
	padding-top: 35px;
	position: relative;
	color: $text;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.8rem;
	line-height: 3;
	font-family: "IBM Plex Mono", sans-serif;

	ul li {
		list-style-type: none;

		a {
			color: lightgreen;

			&:hover {
				color: lighten(green, 33%);
			}
		}
	}

	.links {
		position: absolute;
		top: 0;
		z-index: 10;
	}

	.music,
	.film {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		text-align: center;
	}

	.film {
		a {
			color: rgb(0,173,239);

			&:hover {
				color: lighten(rgb(0,173,239), 33%);
			}
		}
	}

	.wave {
		position: absolute;
		bottom: 0;
	}
}


.projectButtons {
	padding-left: 30px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.codeLinks {
	margin-top: 10px;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	a {
		font-family: "IBM Plex Sans", sans-serif;
		text-transform: uppercase;
		text-align: center;
		width: 100px;
		font-size: 1.9rem;
		font-weight: 500;
		background: darken($primary, 13%);
		padding: 5px;
		text-decoration: none;
		border-radius: 5px;
		color: $text;
		transition: all 0.7s ease;
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
			color: lighten(green, 33%);
		}
	}

	.liveButton {
		margin-right: 15px;
	}
}


// PROJECT END

// SKILL SECTION
.skills {
	height: 100vh;
	min-height: 600px;
	background: $secondary;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.skillsTitleContainer {
	width: 50%;
}

h4 {
	font-size: 2.9vw;
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 700;
	margin-bottom: 30px;
	color: $primary;
	line-height: 1.5;
	margin-right: 25px;
	padding: 10px;
	margin-bottom: 0;
	text-decoration: underline;
	text-decoration-style: solid;
}

.toolKit {
	width: 80%;
	min-height: 400px;
	display: flex;

	img {
		width: 80px;
		height: 80px;
		transition: all 0.7s ease;
	}

	i {
		font-size: 7rem;
		color: $text;
	}

	i.reactIcon {
		color: rgb(53, 144, 213);
	}

	.reactIcon:hover {
		transition: all 0.5s ease;
		animation: reactSpin 6s infinite linear forwards;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		width: 100%;
		align-content: center;
		border-radius: 20px;
	}

	li {
		display: flex;
		align-items: center;
		list-style: none;
		flex-direction: column;
		transition: all 0.5s ease;

		&:hover {
			transform: scale(1.08);
			text-shadow: 10px 7px 14px rgba(27, 11, 85, 0.6);
		}

		p {
			padding: 10px;
			color: $primary;
			font-family: "IBM Plex Mono", sans-serif;
			font-size: 1.5rem;
			font-weight: 900;
		}
	}
}

.contact {
	background-color: $secondary;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.buttons {
		display: flex;
		flex-direction: column;

		button {
			height: 50px;
			background-color: $primary;
			border: none;
			color: $secondary;
			font-size: 1.5rem;
			font-family: IBM Plex Mono;
			font-weight: 900;

			&:hover {
				color: lime;
			}

			&:active {
				-webkit-box-shadow: inset 1px 5px 15px -6px #000000; 
				box-shadow: inset 1px 5px 15px -6px #000000;
			}
		}
	}

	input {
		font-size: 2rem;
		width: 225px;
	}
}

footer {
	height: 70px;
	background-color: $secondary;
	display: flex;
	justify-content: center;
	align-items: center;

	.madeByMitch {
		font-family: "IBM Plex Mono", sans-serif;
		color: $primary;
		font-size: 1.7rem;
		font-weight: 500;
		padding: 0;
		margin: 0;
		text-decoration: none;
		color: darken($primary, 10%);
		&:visited {
			color: darken($primary, 10%);
		}

		&:hover {
			color: lighten($primary, 10%);
		}
	}
}

