
html {
	scrollbar-width: auto;
	scrollbar-color: $secondary #3190D0;
}

body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-track {
  background: #3190D0;     
}

body::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border-radius: 20px;
}