$blue: #007ce9;
$purple: #6200b3;

@import "partials/setup";
@import "partials/fonts";

html {
	font-size: 62.5%;
}

body {
	height: 100vh;
	min-height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	@include robotoMono(1.3rem, $purple);
	position: relative;
}

.bodyBackground {
	animation: backgrounds 5s infinite alternate-reverse ease;
	color: white;

	a {
		color: white;
	}
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: fit-content;
	position: relative;
}

img {
	width: 300px;
}

.circle {
	background: radial-gradient(
		circle,
		rgba(0, 124, 233, 1) 44%,
		rgba(98, 0, 179, 1) 78%,
		rgba(0, 124, 233, 0) 100%,
		rgba(98, 0, 179, 1) 100%
	);
	width: 350px;
	height: 350px;
	border-radius: 50%;
	position: absolute;
	top: -91px;
	z-index: -10;
	opacity: 0.6;
}

.linkContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	min-width: 250px;
	height: 400px;
	position: relative;

	li {
		list-style: none;
		text-align: center;
		line-height: 20px;
		padding: 7px;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	h2 {
		text-align: center;
		margin-bottom: 15px;
		@include roboto(2.3rem, $purple);
	}

	a {
		text-decoration: none;
		color: $blue;
		padding: 7px;
		transition: all 0.5s ease;

		&:hover {
			border: 1px solid $blue;
			font-size: 1.4rem;
			background-color: white;
		}
	}
}

button {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: white;
	color: white;
	border: none;
	position: absolute;
	bottom: 0;
	@include roboto(2rem, white);
	font-weight: bolder;
	z-index: 20;

	&:hover {
		@include roboto(2rem, #007ce9);
		background-color: orangered;
		animation: morph 3.5s forwards ease-out;
	}
	&:active {
		box-shadow: -5px 5px 100px -11px rgb(255, 255, 255) inset;
	}
}

@keyframes morph {
	0% {
		border-radius: 50%;
		transform: rotate(0deg);
		border: 20px solid transparent;
	}

	25% {
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 30px solid $blue;
		border-top: 20px solid transparent;
		transform: rotate(360deg);
		border-radius: 0;
	}

	100% {
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 30px solid $blue;
		border-top: 20px solid transparent;
		transform: rotate(360deg);
		border-radius: 0;
	}
}

@keyframes backgrounds {
	0% {
		background: $blue;
	}

	100% {
		background: $purple;
	}
}

@media (max-width: 360px) {
	.circle {
		width: 300px;
		height: 300px;
	}
}
