@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300&family=Shippori+Mincho&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 300px;
  height: 300px;
}

.imgContainerMitch {
  position: absolute;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.headerContainer img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.mobileImage {
  display: none;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-height: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4f359b;
  position: relative;
}

.spacer {
  width: 100%;
  height: 100px;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

h1 {
  color: #ffa05f;
  font-size: 5vw;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 900;
  position: absolute;
  top: 0;
}

.imageAndP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bio {
  width: 33vw;
  min-width: 420px;
  margin-left: 5%;
  color: ghostwhite;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.8rem;
}

.bio .filmLink {
  text-decoration: none;
  color: #00adef;
}

.bio .filmLink:hover {
  color: #98e3ff;
}

.bio .musicLink {
  text-decoration: none;
  color: lightgreen;
}

.bio .musicLink:hover {
  color: #29ff29;
}

.bio .goodSci {
  text-decoration: none;
  color: yellow;
}

.bio .goodSci:hover {
  color: #29ff29;
}

.check a {
  color: #ffa05f;
  font-weight: 600;
}

.firstLetter {
  border-radius: 50%;
  margin-right: 3px;
}

.firstLetter img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: sparkle 0.5s infinite alternate linear;
          animation: sparkle 0.5s infinite alternate linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.alterEgo {
  display: none;
  color: #ac99e6;
}

.circleContainer {
  position: relative;
}

.circleContainer .fas {
  position: absolute;
  bottom: 52px;
  right: 30px;
  color: white;
  -webkit-animation: upDown 1s infinite alternate ease;
          animation: upDown 1s infinite alternate ease;
}

.circle {
  background: #ffa05f;
  border-bottom-left-radius: 70px;
  border-top-left-radius: 70px;
  height: 70px;
  width: 35px;
  z-index: 10;
  position: relative;
  top: 70px;
}

.circleTwo {
  background: #ffa05f;
  border-bottom-right-radius: 70px;
  border-top-right-radius: 70px;
  height: 70px;
  width: 35px;
  margin-left: 35px;
  position: relative;
  z-index: 10;
}

.portal {
  cursor: pointer;
  position: absolute;
  bottom: 9px;
  right: 17px;
  z-index: 4;
}

.portal img {
  width: 35px;
  height: 35px;
  -webkit-animation: spin 5s infinite linear;
          animation: spin 5s infinite linear;
}

.projects {
  height: 900px;
  background: #4f359b;
  padding-top: 35px;
  position: relative;
  color: ghostwhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  line-height: 3;
  font-family: "IBM Plex Mono", sans-serif;
}

.projects ul li {
  list-style-type: none;
}

.projects ul li a {
  color: lightgreen;
}

.projects ul li a:hover {
  color: #29ff29;
}

.projects .links {
  position: absolute;
  top: 0;
  z-index: 10;
}

.projects .music,
.projects .film {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  text-align: center;
}

.projects .film a {
  color: #00adef;
}

.projects .film a:hover {
  color: #98e3ff;
}

.projects .wave {
  position: absolute;
  bottom: 0;
}

.projectButtons {
  padding-left: 30px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.codeLinks {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.codeLinks a {
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 100px;
  font-size: 1.9rem;
  font-weight: 500;
  background: #36246a;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  color: ghostwhite;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  cursor: pointer;
}

.codeLinks a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #29ff29;
}

.codeLinks .liveButton {
  margin-right: 15px;
}

.skills {
  height: 100vh;
  min-height: 600px;
  background: #ffa05f;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skillsTitleContainer {
  width: 50%;
}

h4 {
  font-size: 2.9vw;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  color: #4f359b;
  line-height: 1.5;
  margin-right: 25px;
  padding: 10px;
  margin-bottom: 0;
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

.toolKit {
  width: 80%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toolKit img {
  width: 80px;
  height: 80px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.toolKit i {
  font-size: 7rem;
  color: ghostwhite;
}

.toolKit i.reactIcon {
  color: #3590d5;
}

.toolKit .reactIcon:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: reactSpin 6s infinite linear forwards;
          animation: reactSpin 6s infinite linear forwards;
}

.toolKit ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 20px;
}

.toolKit li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.toolKit li:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  text-shadow: 10px 7px 14px rgba(27, 11, 85, 0.6);
}

.toolKit li p {
  padding: 10px;
  color: #4f359b;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

.contact {
  background-color: #ffa05f;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .buttons button {
  height: 50px;
  background-color: #4f359b;
  border: none;
  color: #ffa05f;
  font-size: 1.5rem;
  font-family: IBM Plex Mono;
  font-weight: 900;
}

.contact .buttons button:hover {
  color: lime;
}

.contact .buttons button:active {
  -webkit-box-shadow: inset 1px 5px 15px -6px #000000;
  box-shadow: inset 1px 5px 15px -6px #000000;
}

.contact input {
  font-size: 2rem;
  width: 225px;
}

footer {
  height: 70px;
  background-color: #ffa05f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .madeByMitch {
  font-family: "IBM Plex Mono", sans-serif;
  color: #4f359b;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #3c2875;
}

footer .madeByMitch:visited {
  color: #3c2875;
}

footer .madeByMitch:hover {
  color: #6344bf;
}

html {
  scrollbar-width: auto;
  scrollbar-color: #ffa05f #4f359b;
}

body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-track {
  background: #4f359b;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffa05f;
  border-radius: 20px;
}

@-webkit-keyframes sparkle {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes sparkle {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes upDown {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes upDown {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes ufo {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
}

@keyframes ufo {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
}

@-webkit-keyframes reactSpin {
  from {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: rotate(0deg) scale(1.1);
            transform: rotate(0deg) scale(1.1);
  }
  to {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes reactSpin {
  from {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: rotate(0deg) scale(1.1);
            transform: rotate(0deg) scale(1.1);
  }
  to {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes status {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes status {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.burgerContainer {
  position: fixed;
  top: 0;
  right: 0;
  margin: 3%;
  margin-top: 5%;
  width: 40px;
  height: 40px;
  z-index: 50;
  cursor: pointer;
}

.menuButton {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menuBurger {
  width: 35px;
  height: 6px;
  background: #ffa05f;
  border-radius: 5px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0.8;
}

.menuBurgerBefore {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  width: 35px;
  height: 6px;
  background: #ffa05f;
  border-radius: 5px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0.8;
}

.menuBurgerAfter {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  width: 35px;
  height: 6px;
  background: #ffa05f;
  border-radius: 5px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0.8;
}

.burgerSwap {
  background: #4f359b;
}

.burgerBorder {
  background-color: #4f359b;
}

.burgerBorder a {
  color: #ffa05f;
}

.burgerBorder a:hover {
  color: #f86500;
}

/*  animation classes */
.open .menuBurger {
  background: transparent;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menuButton.open .menuBurgerBefore {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menuButton.open .menuBurgerAfter {
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
          transform: rotate(-45deg) translate(8px, -8px);
}

nav {
  background-color: #ffa05f;
  height: 30vh;
  width: 150px;
  position: absolute;
  right: 0;
  top: 50px;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

nav ul {
  height: 100%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px;
  font-size: 2rem;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 900;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #4f359b;
}

nav a:hover {
  color: #6344bf;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

@media (max-width: 850px) {
  .header {
    height: auto;
    min-height: 800px;
  }
  .projectContentContainer img {
    width: 100%;
    margin-top: 0;
  }
  .projectHeader {
    margin-bottom: 10px;
  }
  .project {
    width: 100%;
    padding: 20px;
  }
  header h1 {
    font-size: 5vw;
    position: relative;
  }
  header .spacer {
    display: none;
  }
  .imageAndP {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bio {
    margin: 0;
    margin-top: 20px;
    width: 90%;
    min-width: none;
    text-align: center;
  }
  .project {
    height: auto;
  }
  .projectHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
    border-bottom: 1px solid ghostwhite;
  }
  .projectHeader h2 {
    padding-bottom: 10px;
  }
  .projectHeader .fa-arrow-right {
    font-size: 2rem;
    padding-right: 15px;
  }
  .projectHeader i {
    font-size: 2.7rem;
    color: ghostwhite;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .projectHeader p {
    font-size: 2rem;
    color: ghostwhite;
    font-weight: 400;
    font-family: "IBM Plex Mono", sans-serif;
  }
  .codeLinks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projectContentContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectContentContainer p {
    padding-top: 20px;
    text-align: center;
    padding-right: 0;
  }
  .projectContentContainer img {
    margin-top: 20px;
    width: 75%;
  }
  .projectButtons {
    width: 80%;
    padding: 0;
  }
  .toolKit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .toolKit ul {
    gap: 5px;
  }
  .skills {
    min-height: 850px;
  }
  .skillsTitleContainer {
    width: 100%;
    margin-bottom: 50px;
  }
  .skillsTitleContainer h4 {
    text-align: center;
    margin: 0;
    text-decoration: none;
    font-size: 3rem;
  }
  .contact {
    height: 100vh;
  }
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactContainer img {
    width: 100%;
    height: 175px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
    padding: 0;
    margin: 0;
  }
  .formContainer {
    width: 100%;
  }
}

@media (max-width: 590px) {
  .projects {
    font-size: 1.4rem;
    height: 600px;
  }
}

@media (max-width: 550px) {
  .projectHeader {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projectHeader h2 {
    text-align: center;
    width: 100%;
    font-size: 5vw;
    margin: 0;
  }
  .skillsTitleContainer {
    width: 100%;
    margin-bottom: 50px;
  }
  .skillsTitleContainer h4 {
    text-align: center;
    margin: 0;
    text-decoration: none;
    font-size: 2.5rem;
  }
  .bio {
    margin: 0;
    font-size: 1.7rem;
    margin-top: 20px;
    width: 90%;
    min-width: 100px;
    text-align: center;
  }
  .circleContainer {
    top: -20px;
  }
}

@media (max-width: 460px) {
  header h1 {
    position: relative;
    font-size: 2rem;
  }
  .mobileImage {
    display: block;
  }
  .mobileImage img {
    width: 200px;
    height: 200px;
  }
  .spacer {
    display: none;
  }
  .container {
    display: none;
  }
}

@media (max-width: 400px) {
  .header {
    height: 750px;
  }
  .header h1 {
    margin-bottom: 20px;
  }
  .projects {
    font-size: 1.1rem;
  }
  .toolKit ul {
    gap: 0;
  }
  .toolKit ul li img {
    width: 50px;
    height: 50px;
  }
  .toolKit ul li i {
    font-size: 5.5rem;
  }
  .toolKit ul li p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1400px) {
  .header {
    min-height: 700px;
  }
}

@media (min-width: 1700px) {
  .header {
    min-height: 800px;
  }
}

@media (prefers-reduced-motion: reduce), (update: slow) {
  * {
    -webkit-animation-duration: 0.001ms !important;
            animation-duration: 0.001ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.001ms !important;
            transition-duration: 0.001ms !important;
  }
}
