@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300&family=Shippori+Mincho&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 300px;
  height: 300px;
}

.imgContainerMitch {
  position: absolute;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.headerContainer img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-height: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4f359b;
  position: relative;
}

.spacer {
  width: 100%;
  height: 100px;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

h1 {
  color: #ffa05f;
  font-size: 5vw;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 900;
  position: absolute;
  top: 0;
}

.imageAndP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bio {
  width: 33vw;
  min-width: 390px;
  margin-left: 3%;
  color: ghostwhite;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.8rem;
}

.firstLetter {
  border-radius: 50%;
  margin-right: 3px;
}

.firstLetter img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: sparkle 0.5s infinite alternate linear;
          animation: sparkle 0.5s infinite alternate linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.alterEgo {
  display: none;
  color: #ac99e6;
}

.circleContainer {
  position: relative;
}

.circleContainer .fas {
  position: absolute;
  bottom: 52px;
  right: 30px;
  color: white;
  -webkit-animation: upDown 1s infinite alternate ease;
          animation: upDown 1s infinite alternate ease;
}

.circle {
  background: #ffa05f;
  border-bottom-left-radius: 70px;
  border-top-left-radius: 70px;
  height: 70px;
  width: 35px;
  z-index: 10;
  position: relative;
  top: 70px;
}

.circleTwo {
  background: #ffa05f;
  border-bottom-right-radius: 70px;
  border-top-right-radius: 70px;
  height: 70px;
  width: 35px;
  margin-left: 35px;
  position: relative;
  z-index: 10;
}

.portal {
  cursor: pointer;
  position: absolute;
  bottom: 9px;
  right: 17px;
  z-index: 4;
}

.portal img {
  width: 35px;
  height: 35px;
  -webkit-animation: spin 5s infinite linear;
          animation: spin 5s infinite linear;
}

.projects {
  min-height: calc(100vh + 50px);
  height: auto;
  background: #4f359b;
  padding-top: 35px;
}

.projects .wave {
  position: relative;
  bottom: -4px;
}

.projectsContainer {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  height: 400px;
  width: 80%;
  margin-bottom: 35px;
  border-radius: 20px;
  border: 3px solid #ffa05f;
}

.project h2 {
  color: ghostwhite;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

.projectContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.projectContentContainer img {
  width: 50%;
  border-radius: 5px;
}

.projectContentContainer p {
  width: 50%;
  padding-left: 20px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 2rem;
  color: #ffa05f;
}

.skills {
  height: 100vh;
  min-height: 600px;
  background: #ffa05f;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skillsTitleContainer {
  width: 50%;
}

h4 {
  font-size: 2.9vw;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  color: #4f359b;
  line-height: 1.5;
  margin-right: 25px;
  padding: 10px;
  margin-bottom: 0;
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

.toolKit {
  width: 80%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toolKit img {
  width: 80px;
  height: 80px;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

.toolKit .reactIcon:hover {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-animation: reactSpin 6s infinite linear forwards;
          animation: reactSpin 6s infinite linear forwards;
}

.toolKit ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 20px;
}

.toolKit li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.toolKit li:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  text-shadow: 10px 7px 14px rgba(27, 11, 85, 0.6);
}

.toolKit li p {
  padding: 10px;
  color: #4f359b;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

footer {
  height: 70px;
  background-color: #ffa05f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .madeByMitch {
  font-family: "IBM Plex Mono", sans-serif;
  color: #4f359b;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #3c2875;
}

footer .madeByMitch:visited {
  color: #3c2875;
}

footer .madeByMitch:hover {
  color: #6344bf;
}

.contactPoints {
  font-size: 3rem;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactPoints i {
  display: block;
  padding-right: 5px;
}

.contactPoints a {
  text-decoration: none;
  color: #3c2875;
}

.contactPoints a:visited {
  color: #3c2875;
}

.contactPoints a:hover {
  color: #6344bf;
}

html {
  scrollbar-width: auto;
  scrollbar-color: #ffa05f #4f359b;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #4f359b;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffa05f;
  border-radius: 20px;
}

@-webkit-keyframes sparkle {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes sparkle {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes upDown {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes upDown {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes ufo {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
}

@keyframes ufo {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
}

@-webkit-keyframes reactSpin {
  from {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: rotate(0deg) scale(1.1);
            transform: rotate(0deg) scale(1.1);
  }
  to {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes reactSpin {
  from {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: rotate(0deg) scale(1.1);
            transform: rotate(0deg) scale(1.1);
  }
  to {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes status {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes status {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.burgerContainer {
  position: fixed;
  top: 0;
  right: 0;
  margin: 3%;
  margin-top: 5%;
  width: 40px;
  height: 40px;
  z-index: 50;
}

.menuButton {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menuBurger {
  width: 40px;
  height: 6px;
  background: #ffa05f;
  border-radius: 5px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0.8;
}

.menuBurgerBefore {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
  width: 40px;
  height: 6px;
  background: #ffa05f;
  border-radius: 5px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0.8;
}

.menuBurgerAfter {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
  width: 40px;
  height: 6px;
  background: #ffa05f;
  border-radius: 5px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0.8;
}

.burgerSwap {
  background: #4f359b;
}

/*  animation classes */
.open .menuBurger {
  background: transparent;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menuButton.open .menuBurgerBefore {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menuButton.open .menuBurgerAfter {
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
          transform: rotate(-45deg) translate(8px, -8px);
}

nav {
  background-color: #ffa05f;
  height: 30vh;
  width: 150px;
  position: absolute;
  right: 0;
  top: 50px;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

nav ul {
  height: 100%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px;
  font-size: 2rem;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 900;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: #6344bf;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

.contact {
  height: 400px;
  background-color: #ffa05f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.5rem;
}

.contactContainer {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactContainer img {
  width: 40%;
  max-width: 500px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.formContainer {
  width: 50%;
  border-radius: 10px;
  padding: 20px;
  color: #595b53;
}

.textContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textContent p {
  padding-bottom: 20px;
}

input[type="text"],
input[type="email"] {
  margin-bottom: 10px;
  color: #595b53;
  height: 50px;
  background-color: #ffa05f;
  border: 2px solid #4f359b;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #4f359b;
}

textarea {
  background-color: #ffa05f;
  resize: none;
  width: 100%;
  height: 125px;
  border-radius: 6px;
  border: 2px solid #4f359b;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 800;
  color: #4f359b;
}

input[type="email"].formFocus {
  margin-top: 0;
}

button {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #4f359b;
  background: #ffa05f;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #4f359b;
  font-weight: 800;
}

button:active {
  -webkit-box-shadow: 2px 3px 7px -2px rgba(0, 0, 0, 0.75) inset;
          box-shadow: 2px 3px 7px -2px rgba(0, 0, 0, 0.75) inset;
}

.inputGroup {
  width: 100%;
}

.inputGroup input,
.inputGroup textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

input {
  border-radius: 6px;
  border: none;
}

#status {
  margin-top: 20px;
}

#status.success {
  color: ghostwhite;
  font-family: 'IBM Plex Mono', sans-serif;
  background: #4f359b;
  border: 4px solid #17c417;
  border-radius: 7px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: status 5s ease forwards;
          animation: status 5s ease forwards;
}

#status.error {
  color: ghostwhite;
  font-family: 'IBM Plex Mono', sans-serif;
  background: #4f359b;
  border: 4px solid tomato;
  border-radius: 7px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: status 5s ease forwards;
          animation: status 5s ease forwards;
}

@media (prefers-reduced-motion: reduce), (update: slow) {
  * {
    -webkit-animation-duration: 0.001ms !important;
            animation-duration: 0.001ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.001ms !important;
            transition-duration: 0.001ms !important;
  }
}
